<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Todo list</title>
</head>
<body>
      
        <nav class="header">
          <div class="anc">
      <a href="/"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-calendar4" viewBox="0 0 16 16">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
      </svg> Today</a>

      <a class="work" href="/work">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
        </svg> Work</a>
      </div>
    </nav>   
<main>
      <div class="box">


       <h1 class="h1W">
            Work List:
        </h1>
     </div>
     
     <div class="item">
    <ul id="task-Wlist">
          <% workTasks.forEach((kar, index)=> { %>
            <li>
              <input type="checkbox", class="checkbox", data-index="<%= index%>" <% if(kar.completed) { %>checked<% }%>>
              <span class="task-item <%=kar.completed ? 'completed' : ''%>" ><%=kar.name%></span>
            
            </li>
          <% }) %>
        </ul>

        <form action="/addW" method="post" id="task-Wform">
             <input type="text" name="newTask" placeholder="New Task" required>
             <button type="submit">Add</button>    
         </form>
          </div>

          <script>
            function formBorders() {
            const taskWList = document.getElementById('task-Wlist');
            const formWList = document.getElementById('task-Wform');
            if (taskWList.children.length === 0) {
            formWList.classList.add('yesBorder');
           }
           else {
           formWList.classList.remove('yesBorder');
           }}
            document.addEventListener('DOMContentLoaded', formBorders);

            document.querySelectorAll('.checkbox').forEach((checkbox)=> {
              checkbox.addEventListener('change', function() {
                const karClass = this.nextElementSibling;
                karClass.classList.toggle('completed', this.checked);
              })
            })
            formBorders();
                //completed status updating
                const karIndex = this.getAttribute('data-index');
                tasks[karIndex].completed = this.checked;
                
          </script>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     </body>
         
</body>
</main>
<footer>Copyright © 2024</footer> 

</html>