
html {
    background: linear-gradient(100deg, rgb(214, 167, 244), rgb(178, 75, 225));

  min-height: 1000px;
  font-family: "helvetica neue";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 95vh;
}
 
main {
    text-align: center;
    flex: 1 0 auto;
    padding-top: 50px;
  }


nav.header{
    position: absolute;
    left: 45px;
    top: 40px;
    gap: 30px;
}

.header a {
    text-decoration: none; 
    color: inherit;
}


.headingBox{
    
    margin: 30px auto; 

    max-width: 300px;
 
    box-shadow: 5px 5px 5px rgb(30, 30, 30); 
    background-color: #7049b2;
    border-radius: 5px; 
    text-align: center;
    margin-bottom: 10px; 
}
 

h1{
    padding: 10px 20px;
    font-size: 2em;
    color: #fff;
}


  
div.Box{
    background-color: #fff;
    margin: 50px auto;
   border-radius: 5px;
    max-width: 400px;
    box-shadow: 3px 5px 5px rgb(61, 60, 60);
  }


div.item{
    display: flex;
    align-items: center;
    min-height: 70px;
    border-bottom: 1px solid #d7d6d6;
}

p {
    font-size: 20px;
}

form[action="/add"] input[type="text"]{
    font-size: larger;
    text-align: center;
    outline: none;
    width: 85%;
    border:0;
    border-radius: 5px 0px 0px 5px;
}

form[action="/m-add"] input[type="text"]{
  font-size: larger;
  text-align: center;
  outline: none;
  width: 85%;
  border:0;
  border-radius: 5px 0px 0px 5px;
}

 button{
  margin: 5px 7px 0px 0px; 
  color: #fff;
  background-color: #7049b2;
  height: 50px;
  width: 50px;
  border: 0px;
  border-radius: 50%;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.delBtn{
    color: #706f7253;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size:x-large;
}

.delBtn:hover{
  color: #767676;
  cursor: pointer;
}

.task-form{
    display: flex;
    margin:0px 0px 12px 5px;
    background-color: #fff;
    border-radius: 5px;
    height: 60px;  
}



.delForm{
    display: flex;
    margin-left: auto;
    background-color: #ffffff;
    box-shadow: 0;
    height: 60px; 
    align-items: center; 
}

button.edit{
    color: #7049b2;
    background-color: #fff;
}

.editInput{
    font-size: larger;
    text-align: left;
    outline: none;
    width: 70%;
    border:0;
}


 input[type="checkbox"]{
    margin: 20px;
    
} 



.task-item {
    display: inline-block;
    width: 200px;
    font-size: large;
}



  footer{
    color:inherit;
    text-align: center;
  }

  div.anc{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

 

  


  /* .remove {
    display: none;
  } */
  

  @media (max-width: 550px){
    h1{
        padding: 10px 20px;

        font-size:1.5em;
        width: 165px;
        height: 62px;
       
    }

  ul li{
        
        width: 246.5px;
        margin-right: 35px;
        font-size: 0.6em;
    }

     form {
        
        width: 246.5px; 
        font-size: 1em; 
    }
      
     input[type="text"] {
        width: 75%; 
    }

     .add {
      font-size: 0.8em;
      margin-left: 5px;
    } 

    div.anc{
     display:grid;
     grid-template-rows: 1fr 1fr;
     gap: 30px;
   }

   h1.h1W{
    width: 160px;
    height: 30px;
    padding: 10px 0px;
    font-size: 1.5em;
 }
} 
